
.logo {
    display: block;
    margin: auto;
    width: 20%;
    margin-top: 200px;
}

.search {
    display: block;
    margin: auto;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #DBDBDB;
}

.buttonGroup {
    display: block;
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 4px;
    border-radius: 5px;
    background-color :#F7F7F7;
    border: solid 1px #F7F7F7;
    color: #383838;
    font-size: 15px;
}

a:hover button {
    border: solid 1px #DBDBDB;
    box-shadow: 0px 1px 2px #E0E0E0;
} 

@media only screen and (max-width: 600px) {
    .logo {
        width: 60%;
    }
    
    .search {
        width: 84%;
    }
}

@media only screen and (min-width: 600px) {
    .logo {
        width: 45%;
    }
    
    .search {
        width: 74%;
    }
}